@charset "UTF-8";

html {
  font-size: 1em; /* 16px */
  line-height: 1.5; /* 24px */
}

body {
  color: #000;
  background-color: #fff;
  font-family: 'Droid Serif', YuGothic, '游ゴシック', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.animated {
  /* アニメーションで表示させるため最初は非表示 */
  opacity: 0;
}

.navbar {
  font-family: 'Slabo 27px', YuGothic, '游ゴシック', sans-serif;
  opacity: 0.7;
}

.showcase {
  /* 左右中央に置く */
  margin: 0 auto;

  width: 100%;
  max-width: 940px;
}


/* top */

.top {
  /* 画面いっぱいに広げる */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: 
  linear-gradient(90deg, rgb(255, 255, 255), rgb(220, 220, 220));
}

.top__title {
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 77px;
  letter-spacing: 4px;
}

.top__catchphrase {
  font-size: 1rem;
}

.top__text-box {
  /* 上下中央に置く */
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-weight: 100;
}


/* about */

.about {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
  background: 
  linear-gradient(90deg, rgb(220, 220, 220), rgb(255, 255, 255));
}

.about__title,
.timeline__title,
.works__title {
  margin-bottom: 5%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  border: inset 3px #ff0000;
}

#mamoicon{
  margin-top: 5%;
  margin-bottom: 5%
}

.prof {
  font-size: 1rem;
  margin-left: 20%;
}

.prof_img {
  margin-bottom: 10%;
}

.prof dt {
  float: left;
  display: block;
  width: 30%;
}

.prof dd {
  float: right;
  width: 70%;
}

.about__content p{
  padding-top: 5%;
  font-size: 1rem;
  letter-spacing: 5px;
  line-height: 40px;
}


/* lerning */

.cd-timeline {
  padding-top: 82px;
  padding-bottom: 92px;
  background: 
  linear-gradient(90deg, rgb(255, 255, 255), rgb(220, 220, 220));
}

.timeline__part {
  font-size: 1.2rem;
  color: #444444;
}

/* works */

.works {
  padding-top: 80px;
  padding-bottom: 90px;
  background: 
  linear-gradient(90deg, rgb(220, 220, 220), rgb(255, 255, 255));
}

.works_img {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.fas {
  padding-top: 10px;
  cursor: pointer;
  color: grey;
}

.fa-chevron-up {
  display: none;
}

.works_content {
  text-align: center;
  padding: 10px;
  display: none;
}

.works_content p {
  font-size: 1rem;
  margin-bottom: 5%;
  font-family: 
  "Noto Sans Japanese", 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.works_link {
  color: #fff;
  border-radius: 10%;
  margin-bottom: 10%;
}

.demo {
  background: -webkit-linear-gradient(-45deg, rgba(245, 141, 81, 0.7), rgba(224, 22, 76, 0.7));
  padding: 10px 20px;
  margin-right: 5%;
}

.github {
  background-color: #000000;
  padding: 10px 10px;
}

.png_icon {
  height: 1.1rem;
  padding-right: 1%;
}


footer {
  padding: 50px 0;
  background-color: #fafaf3;
  text-align: center;
}



/* Bootstrapのsm以下の表示幅で適用されるスタイル */
@media (max-width: 590px) {
  .top__title {
    font-size: 2rem;
  }
  
  .top__catchphrase {
    font-size: 1.125rem;
  }
  
  .prof {
    font-size: 1rem;
    margin-left: 0;
  }
  
  .about__content p {
    padding-top: 40%;
    font-size: 0.8rem;
    letter-spacing: 5px;
    line-height: 20px;
  }
  
  .about__title,
  .timeline__title,
  .works__title{
    font-size: 1.5rem;
  }

  .showcase {
    width: 90%;
  }
  
  .timeline__part {
  font-size: 0.8rem;
  }
  
  .color-contrast-medium {
    font-size: 0.7rem;
  }
  
  .cd-timeline__date {
    font-size: 0.7rem; 
    float: right;
  }
  .works_content p {
  font-size: 12px;
  padding-bottom: 5%;
  }
}

/* 印刷用スタイル */
@media print {
  .animated {
    /* すべて表示 */
    opacity: 1;
  }
}
